<%- include('partials_header', { user }) %>
<section class="card">
  <h2>Ошибка</h2>
  <p class="error"><%= message %></p>
  <a class="button ghost" href="/">На главную</a>
</section>
<%- include('partials_footer') %>
